@use '../abstracts/mixins/' as *;

/*--- Layout - Container ---*/

/**
 * .container
 * @css-prefix .container 
 * @doc-type css-framework
 * @doc-category layout
 * 
 * @title Content Container
 * @description Containers sit directly within a `section` tag helping content editors control the maximum horizontal width their content will be displayed.  
 *
 * @tags content-width, content, width, container, max-width, layout
 *
 * @uri-related-links [Section] #sections, [Row] #flex-grid---row, [Columns] #flex-grid---columns
 */

$multiplier: -1;
$row-multiplier: -1;
$col-multiplier: 2;

.container {
    max-width: var(--max-content-width--sm);
    padding-left: calc(#{$multiplier} * var(--container--gutter--sm));
    padding-right: calc(#{$multiplier} * var(--container--gutter--sm));
    margin: calc(var(--gutter-sm) * (#{$row-multiplier} * 2)) auto;
}

@include mediaQuery('tablet-up') {
    .container {
        max-width: var(--max-content-width--md);
        padding-left: calc(#{$multiplier} * var(--container--gutter--md));
        padding-right: calc(#{$multiplier} * var(--container--gutter--md));
        margin: calc(var(--gutter-sm) * (#{$row-multiplier} * 2)) auto;
    }
}

@include mediaQuery('desktop-up') {
    .container {
        max-width: var(--max-content-width--lg);
        padding-left: calc(#{$multiplier} * var(--container--gutter--lg));
        padding-right: calc(#{$multiplier} * var(--container--gutter--lg));
        margin: calc(var(--gutter-sm) * (#{$row-multiplier} * 2)) auto;
    }
}

@include mediaQuery('desktop-xl-up') {
    .container {
        max-width: var(--max-content-width--xl);
        padding-left: calc(#{$multiplier} * var(--container--gutter--xl));
        padding-right: calc(#{$multiplier} * var(--container--gutter--xl));
        margin: calc(var(--gutter-sm) * (#{$row-multiplier} * 2)) auto;
    }
    .full-width > .container {
        padding: 0;
        max-width: none;
    }
}

.container.max-width--sm {
    max-width: var(--max-content-width--sm);
}
.container.max-width--md {
    max-width: var(--max-content-width--md);
}
.container.max-width--lg {
    max-width: var(--max-content-width--lg);
}
.container.max-width--xl {
    max-width: var(--max-content-width--xl);
}

/*--- end ---*/
