/*--- Components - Section Curves ---*/

section[class*='btm-curv'] {
    padding-bottom: 0;
}

section[class*='curv']:after,
section[class*='curv']:before {
    margin-left: calc(var(--gutter-xl) * -4);
    margin-right: calc(var(--gutter-xl) * -4);
}

.bg-top-curv:before,
.bg-btm-curv:after,
.bg-top-curv-reverse:before,
.bg-btm-curv-reverse:after {
    content: '';
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 100;
    padding-bottom: 10.8%;
    /* height/width of svg image */
    width: calc(100% + (var(--gutter-xl) * 8));
    background-image: url(/assets/images/de_main_curve.svg);
}
.bg-curv--tertiary-dark-1:after {
    background-image: url(/assets/images/de_main_curve_blue.svg);
}

.bg-curv--primary-dark-1:after {
    background-image: url(/assets/images/de_main_curve_orange.svg);
}

.bg-animated-curv-orange:after {
    background-image: url(/assets/images/de_animated_curve_orange.svg);
}

.bg-animated-curv-blue:after {
    background-image: url(/assets/images/de_animated_curve_blue.svg);
}

section[class*='bg-top-curv'] {
    padding-top: 0;
}

.bg-top-curv:before {
    transform: scaleY(-1);
}

.bg-btm-curv-reverse:after {
    transform: scaleX(-1);
}

.bg-top-curv-reverse:before {
    transform: scaleX(-1) scaleY(-1);
}
