@use 'sass:map';

@use '../abstracts' as *;

/*--- Component - */
.customer-care {
    @include mediaQuery('tablet-below') {
        .hours {
            display: flex;
            flex-direction: column;
        }
    }

    [class*='icon'] {
        margin-right: 0;
    }
}

section:not([class*='bg--']) + .customer-care:not([class*='bg--']) {
    padding-top: 0;

    & .container:before {
        border-top: 1px solid var(--secondary-light-3);
        content: '';
        display: block;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        min-height: var(--sect--top-pd--lg);

        @include mediaQuery('tablet-below') {
            min-height: var(--sect--top-pd--sm);
        }
    }
}
