@use 'sass:map';

@use '../../abstracts/base' as *;
@use '../../abstracts/tokens' as *;
@use '../mixins/breakpoints' as *;

@mixin getTablesOnColorBg($palette, $bgSelector, $suffix) {
    $tableTypeSelector: '';

    @each $targetViewPort, $states in $palette {
        @include mediaQuery($targetViewPort) {
            @each $tableType, $tableItems in $states {
                @if $tableType != 'table--default' {
                    $tableTypeSelector: 'table.#{$tableType}';
                } @else {
                    $tableTypeSelector: 'table';
                }
                @each $tableItem, $tableSubItems in $tableItems {
                    @if $tableItem == 'table' {
                        $properties: $tableSubItems;
                        #{$tableTypeSelector} {
                            @each $property, $value in $properties {
                                #{$property}: #{$value};
                            }
                        }
                    }
                    //styles for thead tr, thead td
                    @else if $tableItem == 'thead' {
                        @each $tableSubItem, $properties in $tableSubItems {
                            @if $tableSubItem== 'tr' {
                                #{$tableTypeSelector} #{$tableSubItem}.#{$tableItem} {
                                    @each $property, $value in $properties {
                                        #{$property}: #{$value};
                                    }
                                }
                            } @else {
                                #{$tableTypeSelector} .#{$tableItem} #{$tableSubItem} {
                                    @each $property, $value in $properties {
                                        #{$property}: #{$value};
                                    }
                                }
                            }
                        }
                    }
                    //styles for tbody tr, tbody td
                    @else if $tableItem == 'tbody' {
                        @each $tableSubItem, $properties in $tableSubItems {
                            #{$tableTypeSelector} #{$tableSubItem} {
                                @each $property, $value in $properties {
                                    #{$property}: #{$value};
                                }
                            }
                        }
                    }
                }
            }
        }
    }
} // End mixin
